<h1>my experience and education</h1>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>Jan. 2022 - Present</h2>
            <p>Junior PLC Developer at HTI Cybernetics</p>
        </div>
    </div>

    <div class="container right">
        <div class="content">
            <h2>May 2021 - August 2021</h2>
            <p>Software Development Intern at RIIS</p>
        </div>
    </div>

    <div class="container right">
        <div class="content">
            <h2>June 2020 - August 2020</h2>
            <p>Software Development Intern at RIIS</p>
        </div>
    </div>
</div>