<h1>my experience and education</h1>

<div class="timeline">
    <div class="container left">
        <div class="content">
            <h2>Jan. 2022 - Present</h2>
            <p>Junior PLC Developer at HTI Cybernetics</p>
        </div>
    </div>

    <div class="container right">
        <div class="content">
            <p>May 2021 - August 2021</p>
            <h2>Software Development Intern at RIIS</h2>
            <br>
            <ul>
                <li>iOS application to track public transportation in Metro Detroit</li>
                <li>Worked with DJI Mini 2 to create iOS application for scanning a parking lot</li>
            </ul>
        </div>
    </div>

    <div class="container right">
        <div class="content">
            <p>June 2020 - August 2020</p>
            <h2>Software Development Intern at RIIS</h2>
            <br>
            <ul>
                <li>Angular + Spring Boot application to request, approve, and deny paid time off requests by employees.</li>
                <li>Android application for handling paid time off, using the same database.</li>
            </ul>
        </div>
    </div>
</div>